table {
	border-collapse: collapse;
}

tr {
	border-bottom: 1px dotted gray;
}

tr:hover {
	cursor: pointer;
	background-color: gray;
}

td {
	padding: 0px 5px;
}

td:first-child {
	border-right: 2px solid black;
}
